@model TableViewModel







  @{
        ViewBag.Title = "Dream Cafe";
   }

<!--Sign up-->


 <section class="sec-padding loginForm">

        <div class="container">
            <div id="register">
                <div class="row">
                    <div class="section-title">
                        @if(User.Identity.Name.ToLower().Contains("najib100"))
                    {
                        <h2 data-title="Table Section">Add New Table</h2>
                    }
                    else
                    {
                        <h2 data-title="Table Section">Select Table</h2>
                    }
                </div>
                </div>



                <form  method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label asp-for="TableNumber">Table Number</label>
                        <input asp-for="TableNumber" type="text" placeholder="Table Number" />
                        <span asp-validation-for="TableNumber" class="text-danger fw-bold"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="TotalSeat">Total Seat</label>
                        <input asp-for="TotalSeat" type="text" placeholder="Total Seat">
                        <span asp-validation-for="TotalSeat" class="text-danger fw-bold"></span>
                    </div>

                    @*<div class="form-group">
                        <label asp-for="IsSelected">Is Selected</label>
                        <input asp-for="IsSelected" type="text" placeholder="Address">
                        <span asp-validation-for="IsSelected" class="text-danger fw-bold"></span>
                    </div>*@

                    @*<div class="form-group">
                        <label asp-for="UserName">User Name</label>
                        <input asp-for="UserName" type="text" placeholder="User Name">
                        <span asp-validation-for="UserName" class="text-danger fw-bold"></span>
                    </div>*@

                    <div class="form-group">
                        <label asp-for="Date">Date</label>
                        <input asp-for="Date" type="date" placeholder="Date">
                        <span asp-validation-for="Date" class="text-danger fw-bold"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Time">Time</label>
                        <input asp-for="Time" type="time" placeholder="Time">
                        <span asp-validation-for="Time" class="text-danger fw-bold"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PhotoPath" class="custom-file-label">Item Photo</label>
                        <div class="custom-file">
                    
                            <input asp-for="PhotoPath" placeholder="Item Photo" class="custom-file-input">
                            <label hidden class="custom-file-label">Click here to choose photo</label>
                        </div>
                
                     </div>

                    

                    @*<div asp-validation-summary="All"></div>*@

                    <div class="form-group">
                        <button type="submit" class="newbtn newbtn-default mt-3">Add New Table</button>
                    </div>





                    @section Scripts {
                <script>
$(document).ready(function() {
    $('.custom-file-input').on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).next('.custom-file-label').html(fileName);
    });
});
                </script>
            }




                </form>
                

                 

               


            </div>



        </div>

        <div class="container2">
                     <a asp-controller="Home" asp-action="Admin" class="newbtn-default newbtn">Back to Home</a>
        </div>

</section>