@model EditItemViewModel


@{
    ViewBag.Title = "Dream Cafe";
    var photopath = "~/Images/" + (Model.PhotoPath ?? "noimage.jpg");
}



<section class="sec-padding loginForm" >

        <div class="container">

            <div>
                <div class="row">
                    <div class="section-title">
                        <h2 data-title="Edit Item">Edit Item</h2>
                    </div>
                </div>
            </div>
        </div>


        <form method="post" enctype="multipart/form-data">
            <input hidden asp-for="Id" />
            <input hidden asp-for="PhotoPath" />

            <div class="row mt-3">
                <label asp-for="MenuId">Select Menu: </label>

                <select asp-for="MenuId">
                    <option value="Not selected">Not selected</option>
                    <option value="Breakfast">Breakfast</option>
                    <option value="Lunch">Lunch</option>
                    <option value="Dinner">Dinner</option>
                    <option value="Drinks">Drinks</option>
                </select>

                
                <span asp-validation-for="MenuId"></span>
            </div>

            <div class="row mt-3">
                <label asp-for="MenuItemTitle">Item Title </label>
                <input asp-for="MenuItemTitle" placeholder="Item Title"/>
                <span asp-validation-for="MenuItemTitle"></span>
            </div>

            <div class="row mt-3">
                <label asp-for="MenuItemDescription">Item Description </label>
                <input asp-for="MenuItemDescription" placeholder="Item Description"/>
                <span asp-validation-for="MenuItemDescription"></span>
            </div>

            <div class="row mt-3">
                <label asp-for="MenuItemQuantity">Item Quantity </label>
                <input asp-for="MenuItemQuantity" placeholder="Item Quantity"/>
                <span asp-validation-for="MenuItemQuantity"></span>
            </div>

            <div class="row mt-3">
                <label asp-for="MenuItemCost">Item Cost </label>
                <input asp-for="MenuItemCost" placeholder="Item Cost"/>
                <span asp-validation-for="MenuItemCost"></span>
            </div>

            <div class="row mt-3">
                <label asp-for="MenuItemAvailability">Item Availability</label>
                <input asp-for="MenuItemAvailability" placeholder="Item Availability"/>
                <span asp-validation-for="MenuItemAvailability"></span>
            </div>

            <div class="row mt-3">
                <label asp-for="PhotoItem" class="custom-file-label">Item Photo</label>
                <div class="custom-file">
                    
                    <input asp-for="PhotoItem" placeholder="Item Photo" class="custom-file-input">
                    <label class="custom-file-label">Click here to choose photo</label>
                </div>
                
            </div>


            <div class="row mt-3 col-sm-4 offset-4 container2">
                <img src="@photopath" class="imageThumbnail" asp-append-version="true"/>
            </div>


            <div class="mt-5 container2">
                    
                    <button class="newbtn1 newbtn-default me-5" type="submit">Update</button>
                    <a class="newbtn1 newbtn-default" asp-action="@Model.MenuId" asp-controller="Menu">Cancel</a>
                
            </div>

            @section Scripts {
                <script>
$(document).ready(function() {
    $('.custom-file-input').on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).next('.custom-file-label').html(fileName);
    });
});
                </script>
            }



        </form>


        

</section>