@inject SignInManager<ApplicationUser> signInManager

@{
        ViewBag.Title = "Dream Cafe";
 }






    <!-- Header part -->
    <header class="header">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="logo">
                    <a href="#">
                        <img src="~/Images/Logo/logo dreams-modified.png" alt="logo">
                    </a>
                    <div class="resName">Dream Cafe</div>
                </div>
                
                
                <button type="button" class="nav-toggler">
                    <span></span>
                </button>
                


                <nav class="nav">
                    <ul>
                        <li class="nav-item"><a  href="#home">home</a></li>
                        
                        

                        <div class="nav-item dropdown">
                            <a class="dropbtn">Menu
                                <i class="fa fa-caret-down"></i>
                            </a>
                            
                            <div class="dropdown-content">
                                <a asp-controller="Menu" asp-action="Breakfast">Breakfast</a>
                                <a asp-controller="Menu" asp-action="Lunch">Lunch</a>
                                <a asp-controller="Menu" asp-action="Dinner">Dinner</a>
                                <a asp-controller="Menu" asp-action="Drinks">Drinks</a>
                            </div>
                        
                        </div>
                        <li class="nav-item"><a  asp-controller="Admin" asp-action="AddMenu" >Add Items</a></li>
                        @*<li class="nav-item"><a  asp-controller="Administration" asp-action="ListRoles" >List Roles</a></li>*@
                        @*<li class="nav-item"><a  href="#team">team</a></li>*@


                        <div class="nav-item dropdown">
                            <a class="dropbtn">Order Status
                                <i class="fa fa-caret-down"></i>
                            </a>
                            
                            <div class="dropdown-content">
                                <a asp-controller="Menu" asp-action="UserListNewOrder">NewOrders</a>
                                <a asp-controller="Menu" asp-action="UserListCompletedOrder">Completed Orders</a>
                                
                            </div>
                        
                        </div>


                        <div class="nav-item dropdown mt-3">
                            <a class="dropbtn">Table Section
                                <i class="fa fa-caret-down"></i>
                            </a>
                            
                            <div class="dropdown-content">
                                <a asp-controller="Menu" asp-action="AddNewTable">AddNewTable</a>
                                <a asp-controller="Menu" asp-action="TableSelection">Table Control</a>
                                
                            </div>
                        
                        </div>

                        

                        @if(signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a asp-controller="Account" asp-action="UserProfile"  class="nav-link">@User.Identity.Name</a>
                            </li>

                            <li class="nav-item">
                                <form method="post" asp-action="logout" asp-controller="Account">
                                    <button  type="submit"  class="nbt">
                                        Logout 
                                    
                                    </button>
                                </form>
                            </li>
                           @* <li class="nav-item">
                                <a  asp-controller="UserAccount" asp-action="Profile" class="nav-link">Profile</a>
                            </li>*@
                        } 

                        else
                        {
                            <li class="nav-item"><a  asp-controller="Account" asp-action="login" class="nav-link">Login</a></li>
                        }

                    

                        @*<li class="nav-item"><a href="#contact">contact us</a></li>*@

                    </ul>
                </nav>
            </div>
        </div>
    </header>

<!-- Header end -->




<!-- home section start -->


    <section class="home-section" id="home">
        <div class="home-bg"></div>
        <div class="container">
            <div class="row min-vh-100 align-items-center">
                <div class="home-text" data-aos="fade-up" data-aos-duration="1000">
                    <h1>Dream Cafe Restaurent</h1>
                    <h3 >Welcome to the admin panel. </h3>
                    
                    


                        <div class="mt-5">
                            <a class="newbtn newbtn-default" asp-controller="Admin" asp-action="AddMenu">Add New Items</a>
                        </div>
                   
                    
                </div>
            </div>
        </div>
    </section>

    <!-- home section end -->