






<section class="sec-padding  loginForm" >

        <div class="container">

            <div>
                <div class="row">
                    <div class="section-title">
                        <h2 data-title="Menu">Menu</h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <h3>Add new menu item:</h3>
            <button asp-controller="Admin" asp-action="MenuAdd" class="newbtn newbtn-default">Add New Menu</button>
            <h3 class="mt-5">View all menu items:</h3>
            <button asp-controller="Admin" asp-action="ViewMenu" class="newbtn newbtn-default">View Menu</button>
            
        </div>

</section>