






<section class="sec-padding loginForm" >

        <div class="container">

            <div>
                <div class="row">
                    <div class="section-title">
                        <h2 data-title="Menu">Menu</h2>
                    </div>
                </div>
            </div>
        </div>


        <div >
            
            <div class="row">
                <div class="col-sm">
                    <h3>Add new menu item:</h3>
                    <a asp-controller="Admin" asp-action="MenuAdd" class="newbtn newbtn-default">Add New Menu</a>
                </div>

                <div class="col-sm">
                    
                    <h3>View all menu items:</h3>
                    
                    
                    <div class="row">
                        <div class="col-sm">
                            <a asp-controller="Admin" asp-action="ViewMenu" class="newbtn newbtn-default">Breakfast</a>
                        </div>
                        <div class="col-sm mt-5">
                            <a asp-controller="Admin" asp-action="ViewMenu" class="newbtn newbtn-default">Lunch</a>
                        </div>
                        <div class="col-sm mt-5">
                            <a asp-controller="Admin" asp-action="ViewMenu" class="newbtn newbtn-default">Dinner</a>
                        </div>
                        <div class="col-sm mt-5">
                            <a asp-controller="Admin" asp-action="ViewMenu" class="newbtn newbtn-default">Drinks</a>
                        </div>
                    </div>
                    

                    
                    
                </div>
            </div>
            
        </div>

</section>